@model Brand
@{
    ViewData["Title"] = "Brands";
}
<div class="mt-4 ml-3"> 
<h2 >Are You Sure You want to delete this Brand ?</h2>
        <form asp-action="Delete">
        <div class="form-group">
        <input hidden asp-for="@Model.brand_id" />
       <label asp-for="@Model.brand_name"></label>
        <input asp-for="@Model.brand_name" class="form-control" readonly>
       </div>
       <a asp-action="Index" class="btn btn-light">Cancel</a>
      <button type="submit" class="btn btn-primary ml-2">Delete</button>
</form>
</div>